{% extends "base.html" %} {% load i18n %} {% block title %}{{ analysis.title }} (Analysis) {% endblock %} {% block content %}
  <div class="teaching-analysis-detail-container">
    <a href="{% url 'analysis_list' %}" class="back-to">&larr; Back to all analyses</a>
    <div class="columnar-area">
      <div>
        <button class="btn teaching-analysis__download" onclick="downloadAnalysis(event,{{analysis.pk}})" type="button">
          <p>Download PDF</p>
          <div class="loader hidden"></div>
        </button>
      </div>

      <div id="analysis__info" class="info">
        <div id="topics">
          <h4>Topics</h4>
          {% for topic in analysis.topics.all %}
            <span class="tag">{{topic.name}}</span>
          {%empty%}
            <p>N/A</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="teaching-analysis__content-wrapper">
      <div class="heading"><h1 id="title">{{analysis.title}}</h1></div>
      {% include "partial/teaching_analysis_tab_area.html" with model=analysis modelname="analysis" %}
    </div>
  </div>
  <script src="{% static 'js/downloadAnalysis.js' %}"></script>
{% endblock %}
