{% extends "foundation.html" %} {% load i18n %} {% block body %}
  <body>
  {% comment %} header area {% endcomment %}

    <div class="title-bar">
      <div class="title-bar__icons">
        {% if user.is_authenticated and user.is_staff %}
          <a href="/admin">
            <span title="Admin dashboard" class="material-symbols-outlined"> dashboard </span>
          </a>

        {% endif %} {% comment %} <span title="dark mode: on" class="material-symbols-outlined sm darkmode"> dark_mode </span> {% endcomment %}
      </div>
      <a href="{% url 'home' %}" class="link--home">
        <div class="title-logo">
          <img id="title__logo-img" src="{% static 'images/logos/mod_lady_grey.png' %}" alt="MOD logo" />
        </div>
        <h2 class="title--mobile">MUSEUM of DREAMWORLDS</h2>
      </a>

      {% block non_production_message %} {% if not request.get_host|lower == 'museumofdreamworlds.org' %}
        <span style="color: orange; padding: 10px; position: absolute; left: 2vw; top: 10px"> STAGING </span>
      {% endif %} {% endblock %} {% include "components/logo_text.html" with extra_classes="title__logo-text" %}
    </div>

    <nav>
      <ul class="banner-nav">
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'team' %}">Team</a>
        </li>
        <li>
          <a href="{% url 'film_list' %}?page=1">Films</a>
        </li>
        <li>
          <a href="{% url 'analysis_list' %}">Analyses</a>
        </li>
        <li>
          <a href="{% url 'bibliography' %}">Bibliography</a>
        </li>
        <li>
          <a href="{% url 'tag_list' %}">Tags</a>
        </li>
        <li>
          <a href="{% url 'events' %}">Events</a>
        </li>
      </ul>
    </nav>

    {% block heading %} {% endblock %}
  <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p> <!
  [endif]-->{% block trailer %}{% endblock %}
    <main>{% block content %} {% endblock %}</main>
  {% comment %} javascript imports {% endcomment %}
    <script src="" async defer></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </body>
{% comment %} footer area {% endcomment %}
  <footer class="footer">
    <a href="{% url 'home' %}">
      <div class="footer-logo">
        <img id="footer__logo-img" src="{% static 'images/logos/mod_footer_logo.png' %}" alt="MOD logo" />
        {% include "components/logo_text.html" with extra_classes="footer__logo-text" %}
      </div>
    </a>
    <div class="footer__collab-logos-area">{% include "components/collab_logos.html" %}</div>
    <div class="footer__nav">
      <ul class="footer__nav--top-row">
        <h5>Explore</h5>
        <li><a href="{% url 'film_list' %}">Films</a></li>
        <li><a href="{% url 'analysis_list' %}">Analyses</a></li>
        <li><a href="{% url 'tag_list' %}">Tags</a></li>
      </ul>
      <ul class="footer__nav--bottom-row">
        <h5>About</h5>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="mailto:museumofdreamworlducl@gmail.com">Contact</a></li>
      </ul>
    </div>
    <div class="footer__collab-logos-area--mobile">{% include "components/collab_logos.html" %}</div>
  </footer>
{% endblock %}
