{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} | Museum of Dreamworlds</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/modlogo-lady.png' %}">

        <!-- css files -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!--OpenProps-->
        <link rel="stylesheet" href="https://unpkg.com/open-props"/>
        <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/open-props/gradients.min.css"/>



        <link rel="stylesheet" href="">

    </head>

    <body>
        <div class="title-bar">
            <a href="{% url 'home' %}">
                <div class="title-logo">
                    <img id="title__logo-img" src="{% static 'images/MODlogo-image.png' %}" alt="MOD logo" />
                    <img id="title__logo-text" src="{% static 'images/mod-logo-text.png' %}" alt="MOD: Silent Film Antiquity in the BFI National Archive" />
                </div>
            </a>

            {% block non_production_message %}
                {% if not request.get_host|lower == 'museumofdreamworlds.org' %}
                    <span style="color: orange; padding: 10px;">
                        STAGING
                    </span>
                {% endif %}
            {% endblock %}
            <div class="title-bar__icons">
                {% comment %} <div class="toggle-container">
                    <span class="toggle-label">Toggle Dark Mode:</span>
                    <label class="switch">
                      <input type="checkbox" id="toggle">
                    </label>
                  </div> {% endcomment %}
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                    </a>
                {% else %}
                    <a href="{% url 'admin:index' %}">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </a>
                {% endif %}

                {% if user.is_authenticated%}
                {% comment %} <a href="{% url 'home' %}">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a> {% endcomment %}

                    <span class="material-symbols-outlined" id="menu-icon">
                        menu
                    </span>
                    <div class="drawer" id="drawer">
                    <!-- Content of your drawer goes here -->
                        <button id="drawer__button--close">x</button>
                        <ul class="drawer__list-nav">
                            <li>
                                <a href="{% url 'film_list' %}?page=1">
                                    Films</a></li>
                            <li><a href="{% url 'analysis_list' %}">
                                Analyses: Critical Essays and Discussions</a></li>
                            <li><a href="{% url 'bibliography' %}">
                                Bibliography</a><?li>
                                <li><a href="{% url 'tr_list' %}">
                                    Teaching Resources Available</a></li>
                            </ul>

                        </div>
                    </div>
                {% endif %}
            </div>

            {% block heading %}
            {% endblock %}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <main>
                {% if user.is_authenticated %}
                    {% block content %}
                    {% endblock %}
                {% endif %}
            </main>
            <script src="" async defer></script>
            <script type="module" src="{% static 'js/main.js' %}"></script>
        </body>
        <footer class="filmstrip">
            <a href="{% url 'home' %}">
                <div class="footer-logo">
                    <img id="footer__logo-img" src="{% static 'images/MODlogo-image.png' %}" alt="MOD logo" />
                    <img id="footer__logo-text" src="{% static 'images/mod-logo-text.png' %}" alt="MOD: Silent Film Antiquity in the BFI National Archive" />
                </div>
            </a>
            <div class="footer__nav">
                <ul class="footer__nav--top-row">
                    <li><h5>Explore</h5></li>
                    <li><a href="{% url 'film_list' %}">Films</a></li>
                    <li><a href="#">Search</a></li>
                </ul>

                <ul class="footer__nav--bottom-row">
                    <li><h5>About</h5></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog </a></li>
                    <li><a href="#">Collaborators</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>


            </div>
        </footer>
    </html>
