{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Bibliography' %} {% endblock %}
{% block content %}
    <h3>Bibliography for all items on this website</h3>
    <div class="bibliography__area">
        {% for bib in bibliographyitem_list %}
            <div class="bibliography__item">
                <div>{{bib.full_citation|safe}}</div>
                <ul class="no-list-style bib__ref-list">
                    <li><strong>Films:</strong> {% for film in bib.films.all %}<a href="{% url 'film_detail' pk=film.pk %}">{{film.title}}</a> {% endfor %}</li>
                    <li><strong>Analyses:</strong> {% for analysis in bib.analyses.all %}<a href="{% url 'analysis_detail' pk=analysis.pk %}">{{analysis.title}}</a> {% endfor %}</li>
                    <li><strong>Teaching Resources:</strong> {% for tr in bib.teaching_resources.all %}<a href="{% url 'tr_detail' pk=tr.pk %}">{{tr.title}}</a> {% endfor %}</li>
                </ul>
            </div>

        {% endfor %}
{% endblock %}
