<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Museum of Dreamworlds Mail</title>
    </head>
    <body>
        <p>Hello all,</p>

        <p>{{updated_by}} has made changes to <a href='{{instance_url}}'>{{ instance }}</a> on {{website}}</p>
        <p>Click <a href='{{instance_url}}'>here</a> to see the changes in the admin interface.


            <p>Happy Researching!</p>
            <small><em> Please note this is an automated message</em></small>
        </body>
    </html>
