{% extends "base.html" %} {% load i18n %} {% block title %}Events {% endblock%} {% block heading %} {% endblock %} {% block content %}
  <div class="content-wrapper">
    <p>We are planning a series of events to share our research and engage with different audiences. Please check back here for updates on upcoming events, including lectures, workshops, and screenings related to the Museum of Dreamworlds project.</p>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FLondon&showPrint=0&mode=AGENDA&showTabs=0&showCalendars=0&showTitle=0&src=ZDQ2N2QxMTE1Zjk4N2ZiNjQ1NzVmN2IzOWFhYTJlZTk2Mjg5NzlhZjgwMzFlNmRlYTBlNTk1YWY1YjExNzhhY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23d81b60&color=%230b8043" style="border-width: 0; height: 60vh !important" width="800" frameborder="0" scrolling="no"></iframe>
  </div>
{% endblock %}
