{% extends "base.html" %} {% load i18n %} {% block title %}{{ film.title }} (Film) {% endblock %} {% block content %}

<div class="film-detail-container">
  <a href="{% url 'film_list' %}" class="back-to">&larr; Back to all films</a>
  <img src="{% if film.cardimages.first.url %}{{film.cardimages.first.url}}{% elif film.cardimages.first.file.url %}{{film.cardimages.first.file.url}}{% endif %}" />
  <div class="film__heading">
    <div class="title-release">
      <h1>{{film.title}}</h1>
      <h2>{{film.release_date}}</h2>
    </div>
  </div>

  <div class="columnar-area">
    <div id="film__info" class="info">
      <div id="alt-titles">
        <h4>Alternative Titles</h4>
        {{film.alt_titles|safe}}
      </div>
      <div id="bfi-identifier">
        <h4>BFI identifier</h4>
        {{film.bfi_identifier}}
      </div>
      <div id="genres">
        <h4>Genres</h4>
        {% for g in film.genre.all %}
        <span class="tag">{{g.name}}</span>
        {% endfor %}
      </div>
      <div id="topics">
        <h4>Topics</h4>
        {% for topic in film.topic.all %}
        <span class="tag">{{topic.name}}</span>
        {% endfor %}
      </div>
      <div id="locations">
        <h4>Locations</h4>
        {% for loc in film.location.all %}
        <span class="tag">{{g.name}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="film__content-wrapper">{% include "partial/film_tab_area.html" %}</div>
</div>
{% endblock %}
