{% extends "base.html" %} {% load i18n %} {% block title %}{{ film.title }} (Film) {% endblock %} {% block content %}
  <div>
    <div class="title-release">
      <h1>{{film.title}}</h1>
      <h2>{{film.release_date}}</h2>
    </div>
    <p>{{film.alt_titles}}</p>
  </div>

  <div class="film__content-wrapper">
    <div class="columnar-area">
      <img src="{% if obj.cardimages.first.url %}{{obj.cardimages.first.url}}{% elif obj.cardimages.first.file.url %}{{obj.cardimages.first.file.url}}{% endif %}" />
      <div id="film__info">
        <div id="genres">
          <h4>Genres</h4>
          {% for g in film.genre.all %}
            <span class="tag">{{g.name}}</span>
          {% endfor %}
        </div>
        <div id="topics">
          <h4>Topics</h4>
          {% for topic in film.topics.all %}
            <span class="tag">{{topic.name}}</span>
          {% endfor %}
        </div>
        <div id="locations">
          <h4>Locations</h4>
          {% for loc in film.location.all %}
            <span class="tag">{{g.name}}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="tabbed-area">{% include "partial/film_tab_area.html" %}</div>
  </div>

{% endblock %}
