{% extends "base.html" %} {% load i18n %} {% block title %}Home {% endblock%} {% block heading %} {% endblock %} {% block trailer %}
  <div class="intro-trailer__wrapper">
    <iframe src="https://mediacentral.ucl.ac.uk/player?autostart=y&videoId=IcIg91D0&captions=y&chapterId=0&playerJs=n%22" frameborder="0" scrolling="no" id="trailer"></iframe>
  </div>
{% endblock %} {% block content %}
  <div class="content-wrapper">
    <div>The <em>Museum of Dreamworlds project</em> (MoD) asks how early encounters between classics and cinema, from the 1890s to the 1920s, shaped the understanding of both classical antiquity in the modern world and the history of cinema. Using the surviving silent films in the British National Film Archive, we are aiming to trace how cinema designed its Greek and Roman dreamworlds (their geographies, exterior and interior sets, furnishings, costumes and props, as well as the stories they served). We ask what might be the determinants of those designs and how did these dreamworlds speak to contemporary concerns? We also consider how those recreated worlds were used as instruments of mass education and what their pedagogic potential might be today. We propose to develop teaching resources for use in today’s classrooms (both at school and university levels) as part of an educative practice that recalls the distant past through modern media.</div>

    <div class="buttons-wrapper">
      <a href="{% url 'film_list' %}"> <button type="button">Explore Films</button></a>
      <a href="{% url 'analysis_list' %}"><button type="button">Explore Analyses</button></a>
    </div>

    <div class="team">
      <h3>Project team</h3>
      <ul>
        <li><strong>Maria Wyke</strong> (Ancient Rome & Reception, UCL, Principal Investigator)</li>
        <li><strong>Ivo Blom</strong> (Film & Art History, Vrije Universiteit Amsterdam, International Co-Investigator)</li>
        <li><strong>Bryony Dixon</strong> (Silent Film Curator, BFI, Co-Investigator)</li>
        <li><strong>Aylin Atacan</strong> (Architectural History, UCL, Post-Doctoral Research Assistant)</li>
      </ul>
    </div>

    <div class="contact-us">
      <h4>If you have any questions or you'd like to get in touch, contact us</h4>
      <a href="mailto:museumofdreamworlds@ucl.ac.uk"><button>Contact Us</button></a>
    </div>
{% endblock %}
</div>
