{% extends "base.html" %}
{% load i18n %}
{% block title %}Home {% endblock%}
{% block heading %}
  <div class="title--construction">
    <h1 class="title__text--construction">{% trans "NOTICE: This site is currently under construction." %}
      <br>
      <small>{% trans "Read below for more information" %}
      </small>
    </h1>
  </div>
  <div class="project-notice">
    <p>
      This site is under construction and will be launched around summer 2026 as an outcome of the AHRC-funded project Museum of Dreamworlds: Silent Antiquity Films in the BFI National Archive (2023-26).
    </p>
    <p>
      The project seeks to establish a better understanding of both the modern reception of classical antiquity and the transnational history of silent cinema. It investigates how, thanks to cinema, classical antiquity was rendered a powerfully immersive democratic dreamworld while, thanks to classical antiquity, cinema laid claim to the status of an educative art - a museum of ancient dreamworlds. The project will produce a systematic analysis of the c. 60 silent film prints in the British National Film Archive (BFI) that engage with ancient Greece and Rome and, thereby, situate the UK firmly within the global network that produced, exhibited, and consumed the classical antiquity films of the early twentieth century.
    </p>
    <p>
      The project team are creating an online resource - a digital museum of those dreamworlds - that will include direct access to prints and teaching resources in order to provide an important future use for the films beyond academia and the archive - in cinemas, schools, heritage sites, and museums.
    </p>
    <p>
      The project team comprises PI Maria Wyke (UCL), PDRA Aylin Atacan (UCL), Co-I Ivo Blom (Vrije Universiteit Amsterdam), and Co-I Bryony Dixon (BFI).

      Further information on the project and its activities can be found, for now, at:<a href=https://www.ucl.ac.uk/classics/research/research-projects/museum-dreamworlds> Museum of Dreamworlds at UCL</a>
    </p>
  </div>
{% endblock %}

{% block content %}
  <div class="carousel__wrapper">
    <div class="carousel">
      <div class="carousel__slides">
        <div class="slide">Slide 1</div>
        <div class="slide">Slide 2</div>
        <div class="slide">Slide 3</div>
          <!-- Add more slides as needed -->
      </div>
      <button class="carousel__buttons--prev">❮</button>
      <button class="carousel__buttons--next">❯</button>
    </div>
  </div>

{% endblock %}
