{% extends "base.html" %} {% load i18n %} {% block title %}{% trans "search" %}{% endblock %} {% block content %}

<h1>Search In:</h1>
<input type="radio" id="film-search" name="search" checked="checked"/>
<label for="film-search">Films</label><br>
<input type="radio" id="analysis-search" name="search"/>
<label for="analysis-search">Analyses</label><br>

<h1>Search Filters:</h1>

<form id="film-search-form" class="search-form" method="get">
  <label for="film-title">Film Title:</label>
  <input type="text" id="film-title" /><br /><br />
  <label for="film-year">Year of release:</label>
  <input type="text" id="film-year" /><br /><br />
  <label for="film-keyword">Keywords:</label>
  <input type="text" id="film-keyword" /><br /><br />
  <input type="submit" value="Submit" />
</form>

<form id="analysis-search-form" class="search-form" method="get">
  <label for="analysis-title">Analysis Title:</label>
  <input type="text" id="analysis-title" /><br /><br />
  <label for="analysis-author">Author:</label>
  <input type="text" id="analysis-author" /><br /><br />
  <label for="analysis-keywords">Keywords:</label>
  <input type="text" id="analysis-keywords" /><br /><br />
  <input type="submit" value="Submit" />
</form>
{% endblock %}

<script type="module">{% static "js/fuseSearch.js" %}<script/>