{% extends "base.html" %} {% load i18n %} {% block title %}{{ tag.name }}{% endblock %} {% block content %}

  <a href="{% url 'tag_list' %}" class="back-to">&larr; Back to all tags</a>
  <h2 class="tag__name">{{tag.name}}</h2>
  <div class="tag__related__wrapper">
    {% if analyses %}
      <h2>Analyses</h2>
      <section class="scroller">
        {% for analysis in analyses %}
          <a href="{% url 'analysis_detail' pk=analysis.pk %}" class="card-wrapper"> {% include "components/card.html" with obj=analysis %} </a>
        {% endfor %}
      </section>
    {% endif%} {% if teaching_resources %}
      <h2>Teaching Resources</h2>
      <section class="scroller">
        {% for tr in teaching_resources %}
          <a href="{% url 'tr_detail' pk=tr.pk %}" class="card-wrapper"> {% include "components/card.html" with obj=tr %} </a>
        {% endfor %}
      </section>
    {% endif %}
  </div>

{% endblock %}
