{% extends "base.html" %} {% load i18n %} {% block title %}{% trans 'Tags' %} {% endblock %} {% block content %} {% with page_obj=page_obj is_paginated=is_paginated page=page %}{% include "components/list_page_description.html" with model="tag" description="Browse tags used across our Films, Analyses and Teaching Resources" view="tag_list" no_pagination_available=True %}{% endwith %}

<div class="tag-list__container">
  <div class="column">
    <h2>Genres</h2>
    <p>associated Films, Analyses and Teaching Resources</p>
    <div>
      {% for tag in tags%} {%if tag.is_genre%}
      <a href="{% url 'tag_detail' pk=tag.pk %}" class="tag tag--list">{{tag.name}}</a>
      {% endif%} {% empty %}
      <h3>Sorry, no Genres are available at the moment.</h3>
      {% endfor %}
    </div>
  </div>
  <div class="column">
    <h2>Topics</h2>
    <p>associated Analyses and Teaching Resources</p>
    <div>
      {% for topic in topics %}
      <a href="{% url 'tag_detail' pk=topic.pk %}" class="tag tag--list">{{topic}}</a>
      {% empty %}
      <h3>Sorry, no topics are available at the moment.</h3>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
