{% extends "base.html" %} {% load i18n %} {% block title %}{% trans 'Tags' %} {% endblock %} {% block content %} {% with page_obj=page_obj is_paginated=is_paginated page=page %}{% include "components/list_page_description.html" with model="tag" description="Browse tags used across our Analyses" view="tag_list" no_pagination_available=True %}{% endwith %}

  <div class="tag-list__container">
    <div class="column">
      <h2>Keywords</h2>
      <p>Associated Analyses</p>
      <div>
        {% for tag in tags %}{% if tag.topic %}
          <a href="{% url 'tag_detail' pk=tag.pk %}" class="tag tag--list">{{tag}}</a>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
