{% extends "base.html" %} {% load i18n %} {% block title %}Team {% endblock%} {% block heading %} {% endblock %} {% block content %}
  <div class="content-wrapper">
    <h1>Project Team</h1>
    <ul class="team team-members">
      <li>
        <img class="team__image" src="{% static 'images/team/maria.png' %}" alt="Maria Wyke" />
        <div>
          <u> <strong>Maria Wyke</strong> (Ancient Rome & Reception, UCL, Principal Investigator)</u><br />The PI Professor Maria Wyke studied Classics at Oxford (where she began ancient Greek) and then at Cambridge. Her interest in gender, sexuality, and desire in Roman love poetry was encouraged by the supervision of John Henderson, and from contact with enthusiastic and welcoming academics in the United States. After a year out to study film and television at the British Film Institute (1992-93), she went to the University of Reading, where she was fortunate to pursue her dual interest in Rome on film and Latin love poetry, both in teaching and research. She arrived at UCL in September 2005 as Chair of Latin where she has been developing the department’s interests in both Latin and Classical Reception Studies. Over more than thirty years, she has built up considerable knowledge as a classicist of antiquity films and the silent antiquity holdings of the BFI specifically, as well as
          those in international archives.
        </div>
      </li>
      <li>
        <img class="team__image" src="{% static 'images/team/ivo.png' %}" alt="Ivo Blom" />
        <div>
          <u> <strong>Ivo Blom</strong> (Film & Art History, Vrije Universiteit Amsterdam, International Co-Investigator)</u><br />
          The International Co-I Ivo Blom is a former Lecturer in the Department of Arts & Culture at the Faculty of Humanities of Vrije Universiteit Amsterdam (1999–2025), where he also coordinated the MA programme in Comparative Arts & Media Studies. His research focuses on film history and theory, intermediality, early cinema, and the relationships between film and other arts, with particular emphasis on Italian cinema and the reception of classical antiquity. He has been actively involved in numerous international research networks, conferences, exhibitions, and archival collaborations, and has published widely in the fields of cinema studies, art history, and media studies. His work includes curating major exhibitions such as Alma-Tadema: Classical Imagination and advising on projects like Enfin le cinéma! at the Musée d’Orsay. His most recent monograph, Quo vadis?, Cabiria and the ‘Archaeologists’: Early Italian Cinema’s Appropriation of Art and Archaeology (2023), builds on a
          long-standing interest in the interplay between cinema, visual culture, and historical imagination.
        </div>
      </li>
      <li>
        <img class="team__image" src="{% static 'images/team/bryony.png' %}" alt="Bryony Dixon" />
        <div>
          <u> <strong>Bryony Dixon</strong> (Silent Film Curator, BFI, Co-Investigator)</u><br />The Co-I Bryony Dixon is curator of silent film at the BFI National Archive. She is the author of 100 Silent Films (BFI Screen Guides, 2011) and has written numerous articles and book chapters on silent cinema and archiving. She is co-director of the British Silent Film Festival and has programmed films for many international festivals. She has been lead curator on a number of the BFI’s recent film restorations, including Underground (1928), Shooting Stars (1927), Epic of Everest (1924), The Great White Silence (1924), all nine surviving Hitchcock silent films and the BFI’s large format Victorian films.
        </div>
      </li>
      <li>
        <img class="team__image" src="{% static 'images/team/aylin.png' %}" alt="Aylin Atacan" />
        <div>
          <u> <strong>Aylin Atacan</strong> (Architectural History, UCL, Post-Doctoral Research Assistant)</u><br />
          The PDRA Dr. Aylin Atacan is an architectural historian whose research interests encompass the history of classical and modern architecture, the reception of Greco-Roman antiquity, visuality and architectural representation, spatial narrative, cinema and architecture, and silent film studies. She conducts her studies with the awareness that interdisciplinary research has significant potential for creating an innovative field for academics and works to develop new educational methods for the discipline of architecture. She worked as a professional architect until 2013. Subsequently, she transitioned to a role as a research assistant in the Department of Architecture at Middle East Technical University. There, she cultivated her skills in multidisciplinary collaboration through activities such as mentoring students, organizing numerous national and international conferences, workshops, and exhibitions, giving public talks, and participating as a lecturer in architectural design
          studios. From 2023, she has been the PDRA (named researcher) in the AHRC-funded international project "Museum of Dream Worlds: Silent Antiquity Films in the BFI National Archive" (2023-2026).
        </div>
      </li>
    </ul>

    <h1>Collaborators & Contributors</h1>
    <ul class="contributors">
      <li><strong>Amanda Ho-Lyn</strong> (ARC, UCL, Software Delivery Owner )</li>
      <li><strong>Tom Couch</strong> (ARC, UCL, Software Contributor)</li>
      <li><strong>Shiying Wei</strong> (ARC, UCL, Software Contributor)</li>
    </ul>
  </div>
{% endblock %}
