<!DOCTYPE html>
<html>
  <head>
    <title>{{analysis.title}} (Analysis)</title>
    <link rel="stylesheet" href="{% static 'css/pdf-downloads.css' %}" />
  </head>
  <body>
    <header class="page__heading">
      Museum of Dreamworlds
      <sup
      ><a href="https://museumofdreamworlds.org"> <span class="material-symbols-outlined"> open_in_new </span></a></sup
        >
      </header>

      <h1 class="page__title">{{ analysis.title }}</h1>

      <div id="analysis__info">
        <div id="topics">
          <h4>Topics</h4>
          {% for topic in analysis.topics.all %}
            <span class="tag tag--download">{{topic.name}}</span>
          {% endfor %}
        </div>
        <div id="tags">
          <h4>Keywords</h4>
          {% for kw in analysis.keywords.all %}
            <span class="tag tag--download">{{kw.name}}</span>
          {% endfor %}
        </div>

        <div id="films">
          <h4>Related Films</h4>
          {% for film in analysis.films.all %}
            <p>{{film}}</p>
          {% endfor %}
        </div>
      </div>
      <hr />
      <div>{{ analysis.content | safe }}</div>
    </body>
  </html>
