container_commands:
  01_migrate_and_collectstatic:
    test: "[ -f /var/app/current/manage.py ]"
    command: "python manage.py migrate && python manage.py collectstatic"
    leader_only: true
    ignoreErrors: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: museum_of_dreams_project.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
