.bibliography__area {
  margin: 1vw 6vw;

  .bibliography__item {
    margin-bottom: 1rem;
    padding-inline-start: 1vw;
    display: flex;
    columns: 2;

    > :first-child {
      flex: 0 0 75%; /* shorthand for flex-grow, flex-shrink, and flex-basis */
    }

    > :last-child {
      flex: 1; /* The second column takes the remaining space */
    }
  }
  .ro {
    background-color: var(--blue-0);
  }
}

.bib__ref-list {
  font-size: 0.7rem;
}
.bib__ref-list a {
  color: var(--beige);
}
