.bibliography__area {
  margin: 1vw 6vw;

  .bibliography__item {
    margin-bottom: 1rem;
    padding-inline-start: 1vw;
    display: flex;
    columns: 2;

    > :first-child {
      flex: 0 0 75%;
    }

    > :last-child {
      flex: 1; /* The second column takes the remaining space */
    }
  }
  .ro {
    /* odd rows get a colour to make things more readable */
    background-color: color-mix(in srgb, var(--cyan-0) 5%, transparent);
  }
}

.bib__ref-list {
  font-size: 0.7rem;
}
.bib__ref-list a {
  color: var(--beige);
}
