/* for film detail and list */

.film-table {
  font-size: 0.9rem;
  .synopsis > * {
    min-width: 25vw;
    font-size: inherit;
  }
  .synopsis .open-icon {
    font-size: inherit;
    display: inline;
    align-content: center;
  }
  .cast > * {
    font-size: inherit;
  }
}
.film-table th {
  font-size: 1rem;
}
