/* for film detail page */
.film-detail-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3rem;
  @media screen and (width < 767px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.back-to {
  grid-column: 1/-1;
}
.film__image {
  max-width: 100%;
  border-radius: 5px;
}
.film__heading {
  gap: 1rem;

  .title-release {
    display: flex;
    align-items: center;
    justify-content: start;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
    /* text-align: left; */
    /* padding-inline: 2rem;
    margin-inline-start: 1.4rem; */

    /* h1,
    h2 {
      display: inline-flex;
      padding-inline-start: 2vw;
    } */
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

#film__info {
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  h4 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-block: 0.2rem;
  }

  #alt-titles > :not(h4) {
    font-size: 0.8rem;
  }
}

/* .film__content-wrapper feels redundant as .tabbed-area already wraps the tab content, maybe something can be done to reduce div nesting*/
.film__content-wrapper {
  grid-column: 2;
  @media screen and (width < 767px) {
    grid-column: 1/-1;
  }
}

.columnar-area {
  grid-column: 1;
  @media screen and (width < 767px) {
    grid-template-columns: 1/-1;
  }
}

/***************** tabs ***************/

/*avoid setting flex box here because this will override the display:none property, breaking tab selection*/
#filmic {
  gap: 2rem;
  .video {
    display: inline;
    > video {
      height: 40vh;
      width: 40vw;
    }
  }
  hr {
    width: 100%;
  }
  .triple-c {
    text-align: left;
    margin-left: 0.4rem;
  }
  .synopsis {
    padding: 0.5rem 0;
    p {
      width: 100%;
      max-inline-size: 100%;
      color: var(--contrast-text) !important;
      span {
        color: var(--contrast-text) !important;
      }
    }
  }

  .cast-credits {
    display: flex;
    .column {
      flex: 1;
      margin-right: 20px;
    }
  }
}

#technical {
  .short-technical-info {
    /* justify-content: space-between;
    text-wrap: wrap;
    flex-wrap: wrap; */
  }
}

/* #non-filmic{

} */

/* general & initial column */
