/* top level grid wrapper*/

.test-film-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  /* add horizontal margin so that elements are not squashed to the edge page*/
}

/* secondary level grid layout wrappers */
.columnar-area {
  display: flex;
  /*flex might be a better usecase since there's only 1 direction*/

  .info > div {
    margin-bottom: 2rem;
  }
}

.film__content-wrapper {
  /*padding: 1rem; not sure if we need padding here*/
  display: flex; /* flex for one direction here as well*/
  gap: 1rem;

  .info > div {
    margin-bottom: 2rem;
  }
}

/* for film detail page */

.film__heading {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  text-align: left;

  img {
    min-width: 10vw;
    max-width: 20vw;
  }
}

.title-release {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  margin-inline-start: 2.2rem; /* makes film title section align with the tabbed area*/
  /* padding-inline: 2rem;
  margin-inline-start: 1.4rem; # not sure if inline margin/padding are necessary, could potentially make alignmnet weird */

  h1,
  h2 {
    display: inline-flex;
    padding-inline-start: 2vw;
  }
  /*crop film's cardimage*/
  img {
    max-height: 10rem !important;
    max-width: 15rem !important;
    object-fit: cover;
  }
}
#film__info {
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  h4 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-block: 0.2rem;
  }

  #alt-titles > :not(h4) {
    font-size: 0.8rem;
  }
}

/***************** tabs ***************/
#filmic {
  .top-level {
    display: flex;
  }
  .video {
    display: inline;
    > video {
      height: 40vh;
      width: 40vw;
    }
  }
  .triple-c {
    /* country, company & category */
    display: inline-flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-content: center;
    margin-left: 0.4rem;
    > dt {
      margin: 0.4rem 0;
    }
  }
  .synopsis {
    padding: 0.5rem 0;
    p {
      width: 100%;
      max-inline-size: 100%;
      color: var(--contrast-text) !important;
      span {
        color: var(--contrast-text) !important;
      }
    }
  }

  .cast-credits {
    display: flex;
    .column {
      flex: 1;
      margin-right: 20px;
    }
  }
}

#technical {
  .short-technical-info {
    justify-content: space-between;
    text-wrap: wrap;
    flex-wrap: wrap;
    > dt {
      margin: 0.4rem 0;
    }
  }
}

/* #non-filmic{

} */

/* general & initial column */
