/* for film detail page */
.film__heading {
  text-align: center;

  .title-release {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-inline: 2rem;
  }
}

#film__info {
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  h4 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-block: 0.2rem;
  }
}

/***************** tabs ***************/
#filmic {
  .top-level {
    display: flex;
  }
  .video {
    display: inline;
    > video {
      height: 40vh;
      width: 40vw;
    }
  }
  .triple-c {
    /* country, company & category */
    display: inline-flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-content: center;
    margin-left: 0.4rem;
    > dt {
      margin: 0.4rem 0;
    }
  }
  .synopsis {
    padding: 0.5rem 0;
    p {
      width: 100%;
      max-inline-size: 100%;
      color: var(--contrast-text) !important;
      span {
        color: var(--contrast-text) !important;
      }
    }
  }

  .cast-credits {
    display: flex;
    .column {
      flex: 1;
      margin-right: 20px;
    }
  }
}

#technical {
  .short-technical-info {
    justify-content: space-between;
    text-wrap: wrap;
    flex-wrap: wrap;
    columns: 2;
  }
}

/* #non-filmic{

} */

/* general & initial column */
