/* for film detail page */
.film-detail-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 3rem;
  margin-right: 4rem;
}
.back-to {
  grid-column: 1/-1;
}
.film__image {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  align-self: center;
}
.film__heading {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  h2 {
    display: inline-flex;
    padding-inline-start: 2vw;
  }
}

#film__info {
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  h4 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-block: 0.2rem;
  }

  #alt-titles > :not(h4) {
    font-size: 0.8rem;
  }
}

/* .film__content-wrapper feels redundant as .tabbed-area already wraps the tab content, maybe something can be done to reduce div nesting*/
.film__content-wrapper {
  grid-column: 2;
}

.columnar-area {
  grid-column: 1;
}

.film__content-wrapper {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/***************** tabs ***************/

/*avoid setting flex box here because this will override the display:none property, breaking tab selection*/
#filmic {
  gap: 2rem;
  .film__video {
    width: 600px;
    height: 338px;
  }
  .film__video--fallback {
    /* to match default iframe inline size for consistency*/
    width: 600px;
    height: 338px;

    /* border-radius will only apply to the fallback image*/
    border-radius: 10px;
  }

  hr {
    width: 100%;
  }
  /* .triple-c {
    text-align: left;
    margin-left: 0.4rem;
  } needs to be revised for alignment*/
  .synopsis {
    padding: 0.5rem 0;
    p {
      width: 100%;
      max-inline-size: 100%;
      color: var(--contrast-text) !important;
      span {
        color: var(--contrast-text) !important;
      }
    }
  }

  .cast-credits {
    display: flex;
    .column {
      flex: 1;
      margin-right: 20px;
    }
  }
}

#technical {
  .short-technical-info {
    /* justify-content: space-between;
    text-wrap: wrap;
    flex-wrap: wrap; */
  }
}

/* #non-filmic{

} */

/* general & initial column */

@media screen and (max-width: 767px) {
  .film-detail-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-right: revert;
  }
  .film__heading {
    flex-direction: column;
    text-align: center;
    h2 {
      display: inline-flex;
      padding-inline-start: 0;
    }
  }
  .film__content-wrapper {
    grid-column: 1/-1;
  }
  .columnar-area {
    grid-template-columns: 1/-1;
  }

  #filmic {
    .film__video {
      width: 100%;
    }
    .film__video--fallback {
      width: 100%;
      height: auto;
    }
  }
}
