/* This file is specifically for image styling */
/* Due to OpenProps, make sure you define a width parameter for svgs */

#title__logo-img {
  float: left;
  width: 15vw;
  transform: translateY(-0.8rem) scale(85%);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.footer-logo {
  /* this contains the logo image and text */
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
#footer__logo-img {
  width: 8vw;
}

@media (prefer-color-scheme: dark) {
  .dlm {
    filter: invert(1);
  }
}
