/* This file is specifically for image styling */
/* Due to OpenProps, make sure you define a width parameter for svgs */

#title__logo-img {
  float: left;
  margin-left: 1vw;
  width: 15vw;
}
#title__logo-text {
  width: 25vw;
  transform: translateY(-0.5rem);
}

.footer-logo {
  /* this contains the logo image and text */
  margin-inline: 3vw;
  transform: translateY(-2.5rem);
}
#footer__logo-img {
  float: left;
  width: 10vw;
  /* transform: translateY(-5rem); */
}
#footer__logo-text {
  width: 15vw;
  /* transform: translateY(-5rem); */
}
