/* Other css files */
@import url("image-styles.css");
@import url("palette.css");
@import url("carousel.css");
@import url("film.css");
@import url("bibliography.css");
@import url("analysis.css");
@import url("utility-classes.css");
@import url("s3-browser.css");
@import url("animations.css");

/* open props */
@import url("open-props.min.css");

/**************** Google Fonts + MUI **********************/
/* Gruppo, Josefin Sans, Noto Serif, Open Sans, Playfair Display, Monoton */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Noto+Serif&family=Open+Sans&family=Playfair+Display&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/**************** Agency FB Font *******************/
@font-face {
  font-family: "Agency FB";
  src: url("../fonts/agencyfb/agencyfb_reg.ttf") format("truetype");
}
@font-face {
  font-family: "Agency FB";
  font-style: bold;
  src: url("../fonts/agencyfb/agencyfb_bold.ttf") format("truetype");
}

/****************** Impact Font ******************/
@font-face {
  font-family: "Impact";
  src: url("../fonts/impact/impact.ttf") format("truetype");
}
