/* Other css files */
@import url("utility-classes.css");
@import url("image-styles.css");
@import url("palette.css");
@import url("carousel.css");
@import url("film.css");
@import url("bibliography.css");
@import url("teaching-analysis.css");
@import url("s3-browser.css");
@import url("animations.css");

/* open props */
@import url("open-props.min.css");

/**************** Google Fonts + MUI **********************/
/* Boldonse, Epilogue, Gruppo, Open Sans, Playfair Display, Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Noto+Serif&family=Open+Sans&family=Playfair+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Material Design (for icons) */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200");

/**************** Agency FB Font *******************/
@font-face {
  font-family: "Agency FB";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/agencyfb/agencyfb_reg.ttf") format("truetype");
}
@font-face {
  font-family: "Agency FB";
  font-weight: bold;
  font-style: bold;
  src: url("../fonts/agencyfb/agencyfb_bold.ttf") format("truetype");
}

/****************** Impact Font ******************/
@font-face {
  font-family: "Impact";
  src: url("../fonts/impact/impact.ttf") format("truetype");
}
