:root {
  /* main */
  --dark-grey: #222;
  --light-blue: #cadfe2;
  --coral: #e49c9a;
  --turquoise: #9ed1dc;
  --deep-blue: #356f90;
  --light-grey: #b6b6b7;

  /* extra neutrals */
  --tan: #ba745f;
  --warm-sand: #c99383;
  --beige: #d8b2a7;
  --cream: #f4e9e5;

  /* remember we have OpenProps colours as well */
}
/* We're going with dark as standard with option to prefer light */
@media (prefers-color-scheme: dark) {
  :root {
    --off-white: #e8edee; /* good alt is sand-0 */
    /* extras that differ for modes */
    --background-colour: #252525;

    --contrast-text: #e8edee;
    --contrast-text--secondary: var(--gray-5);

    --footer-colour: var(--dark-grey);
    --footer-text-colour: var(--turquoise);

    --card-bg: var(--gray-9);
    --card-shadow: rgb(19, 19, 20);
    --card-border: var(--deep-blue);
    --card-border--hover: color-mix(in srgb, var(--card-border) 80%, white 15%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --off-white: #dae2e3;
    /* extras that differ for modes */
    --background-colour: #eaf0f1;

    --contrast-text: #1e1f20;
    --contrast-text--secondary: var(--gray-6);

    --footer-colour: var(--turquoise);
    --footer-text-colour: var(--dark-grey);

    --card-bg: var(--gray-1);
    --card-shadow: rgba(182, 182, 183, 1);
    --card-border: var(--deep-blue);
    --card-border--hover: color-mix(in srgb, var(--card-border) 80%, white 15%);
  }
}
