:root {
	--dark-grey: #111111;
	--dark-wine: #230308;
	--blood-red: #4a040e;
	--curtain-red: #bf1922;
	--bright-red: #e32832;
	--tan: #ba745f;
	--warm-sand: #c99383;
	--beige: #d8b2a7;
	--cream: #f4e9e5;

	/* others */
}
