main {
  --pdf-colour: var(--jungle-5);
  --pdf-colour--light: color-mix(in srgb, var(--pdf-colour), 80% white);
  --pdf-colour--dark: color-mix(
    in srgb,
    var(--pdf-colour),
    30% rgb(50, 50, 50)
  );

  --img-colour: var(--yellow-5);
  --img-colour--light: color-mix(in srgb, var(--img-colour), 80% white);
  --img-colour--dark: color-mix(
    in srgb,
    var(--img-colour),
    30% rgb(50, 50, 50)
  );

  --video-colour: var(--blue-5);
  --video-colour--light: color-mix(in srgb, var(--video-colour), 80% white);
  --video-colour--dark: color-mix(
    in srgb,
    var(--video-colour),
    30% rgb(50, 50, 50)
  );
}

.s3-browser__title {
  text-align: center;
  p {
    font-size: 90%;
    font-weight: 600;
  }
}

#key--pdf {
  color: var(--pdf-colour);
}
#key--img {
  color: var(--img-colour);
}
#key--video {
  color: var(--video-colour);
}
.s3-browser__filter__button {
  background-color: white;
  border-color: inherit;
  cursor: pointer;
}

.s3-browser__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.25rem;
  .s3-browser__card__wrapper {
    text-decoration: none;
  }
  .s3-browser__card {
    display: grid;
    padding: 0.25rem;
    max-width: 40vw;
    justify-content: center;
    border-radius: var(--radius-3);
    border: var(--border-size-2) solid;
    position: relative;
    transition: transform 0.3s ease;

    > div,
    img,
    iframe,
    video {
      max-width: 100%;
      max-height: 100%;
      margin-inline: 1rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: 0.7rem;
      word-wrap: break-word;
      white-space: nowrap;
      font-family: "Open Sans";
    }

    .material-symbols-outlined {
      position: absolute;
      float: left;
      margin-left: -1rem;
      padding: 0.1rem;
      color: inherit;
    }

    &:hover,
    .s3-browser__card__wrapper:hover {
      transform: scale(1.05);
    }
    &:has(> .s3-browser__card__item--pdf) {
      border: var(--border-size-2) solid var(--pdf-colour);

      &:hover,
      .s3-browser__card__wrapper:hover {
        background-color: var(--pdf-colour--light);
        -webkit-box-shadow: 8px 7px 5px -7px var(--pdf-colour--dark);
        -moz-box-shadow: 8px 7px 5px -7px var(--pdf-colour--dark);
        box-shadow: 8px 7px 5px -7px var(--pdf-colour--dark);
      }
    }
    &:has(> .s3-browser__card__item--img) {
      border: var(--border-size-2) solid var(--img-colour);

      &:hover,
      .s3-browser__card__wrapper:hover {
        background-color: var(--img-colour--light);
        -webkit-box-shadow: 8px 7px 5px -7px var(--img-colour--dark);
        -moz-box-shadow: 8px 7px 5px -7px var(--img-colour--dark);
        box-shadow: 8px 7px 5px -7px var(--img-colour--dark);
      }
    }
    &:has(> .s3-browser__card__item--video) {
      border: var(--border-size-2) solid var(--video-colour);

      &:hover,
      .s3-browser__card__wrapper:hover {
        background-color: var(--video-colour--light);
        -webkit-box-shadow: 8px 7px 5px -7px var(--video-colour--dark);
        -moz-box-shadow: 8px 7px 5px -7px var(--video-colour--dark);
        box-shadow: 8px 7px 5px -7px var(--video-colour--dark);
      }
    }

    /* &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(164, 36, 36, 0.808);
      animation: inkSpread 0.5s linear forwards;

      &:hover {
        animation-play-state: running;
      }
    } */
  }
}
