/* This file is specifically for svg styling */
/* Due to OpenProps, make sure you define a width parameter */

.svg_logo-header {
	height: 10vh;
	width: 90%;
}
.logo-svg {
	margin-left: 1vw;
}

.svg_stacked-film {
	height: 15vh;
	width: 100%;
}
