.swiper {
  width: 100%;
  height: 20rem;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /*makes images scale down to fit within the slide area, prevents large images overflowing into the next slide(s)*/
}
