.swiper {
  height: 30vh;
  &#main {
    height: clamp(50vh, 80vh, 100vh);
  }

  &#vr,
  &#pm {
    width: fit-content;
  }
}

/* display: flex doesn't crop the image, whilst using display:grid does*/
.swiper-wrapper .swiper-slide {
  display: flex;

  /* centers any element that is displayed within the slide fallback text,
this is because centerSlides=true often doesn't apply correctly when intialising swiper in javascript*/
  justify-content: center;
  align-items: center;
}

.swiper-wrapper img,
iframe {
  width: 100%;
  height: 100%;
  /* make images/videos scale down to fit within the slide area, prevents large images overflowing into the next slide(s)*/
  object-fit: contain;
}
.fallback-text {
  display: none;
}
