.swiper {
  height: 50vh;
  width: 60vw;
}

.swiper-wrapper .swiper-slide {
  /* display: flex doesn't crop the image, whilst using display:grid does*/
  display: flex;
  /* centers any element that is displayed within the slide fallback text,
this is because centerSlides=true often doesn't apply correctly when intialising swiper in javascript*/
  justify-content: center;
  align-items: center;
}

.swiper-wrapper img,
iframe {
  width: 100%;
  height: 100%;
  /* make images/videos scale down to fit within the slide area, prevents large images overflowing into the next slide(s)*/
  object-fit: contain;
}

.swiper-slide .fallback-text {
  text-align: center;
  display: none;
  text-align: center;
}

/*Film detail Filmic video swiper*/
.video > .swiper {
  height: 15rem;
  width: 32rem;
}

.swiper-slide__description {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.2s, background 0.4s ease;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 68%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4rem;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.84) 0%, rgba(32, 33, 33, 0.92) 14%, rgba(38, 38, 38, 0.56) 60%, rgba(84, 84, 84, 0.02) 93%, rgba(240, 241, 242, 0) 100%);

  .swiper-slide__description__content {
    max-width: 50vw;
    text-align: center;
    justify-self: center;
    color: var(--sand-0);
  }
}

.swiper-slide-active:hover {
  .swiper-slide__description {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

/*Film detail Collection image swiper*/
.collections .swiper {
  width: 30rem;
}

@media screen and (max-width: 767px) {
  .swiper {
    width: 90vw;
  }
  .fallback-text {
    width: 60vw;
  }
}
