.swiper {
  height: 50vh;
  width: 60vw;
}

.swiper-wrapper .swiper-slide {
  /* display: flex doesn't crop the image, whilst using display:grid does*/
  display: flex;
  /* centers any element that is displayed within the slide fallback text,
this is because centerSlides=true often doesn't apply correctly when intialising swiper in javascript*/
  justify-content: center;
  align-items: center;
}

.swiper-wrapper img,
iframe {
  width: 100%;
  height: 100%;
  /* make images/videos scale down to fit within the slide area, prevents large images overflowing into the next slide(s)*/
  object-fit: contain;
}

.swiper-slide .fallback-text {
  display: none;
  text-align: center;
}

/*Film detail Filmic video swiper*/
.video > .swiper {
  height: 15rem;
  width: 32rem;
}

/*Film detail Collection image swiper*/
.collections .swiper {
  width: 30rem;
}

@media screen and (max-width: 767px) {
  .swiper {
    width: 90vw;
  }
  .fallback-text {
    width: 60vw;
  }
}
