.columnar-area {
  grid-column: 1;
  position: sticky;
  align-self: start;
  top: 0;
  left: auto; /*auto prevents sticky menu on the x-axis when scrolling horizontally*/
}

.tabbed-area {
  display: flex;
  flex-direction: column;
  --underline-colour: var(--coral);
}
.tab-selection {
  /* position: sticky;
  top: 0;
  left: 0;
  align-self: start; */
  overflow: hidden;
  justify-content: start;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

body:has(.tab-selection.is-sticky) .tab-selection {
  background-color: rgba(0, 0, 0, 0.5); /* dimmed background */
  width: 100%;
  padding-bottom: 0;
}

.tab__link {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--contrast-text);
  transition: border-bottom 0.4s ease-out;

  &.active {
    border-bottom: 1px solid var(--underline-colour);
  }

  &:hover:not(.active) {
    border-bottom: 2px solid var(--underline-colour);
  }
}

.tab__content {
  display: none;
  /* margin-top: 1.4rem;
  margin-inline-start: 2.2rem; */
  /* margin-inline-end: 6rem; */

  &.active {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    word-break: break-word;
  }

  section.footnotes {
    display: none;
  }
}

.teaching-analysis__content-wrapper .tab__content {
  /* max-height: 90vh; */
  /* overflow-y: scroll; */
}

@media screen and (max-width: 767px) {
  .columnar-area {
    position: static;
    grid-template-columns: 1/-1;
  }
  .tab-selection {
    flex-wrap: wrap;
  }
  .tab__content {
    margin-inline-end: initial;
  }
  .active[name="content"] {
    img {
      max-width: 100% !important;
      max-height: 100% !important;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .active[name="content"] {
    img {
      max-width: 500px;
      max-height: 650px;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .active[name="content"] {
    img {
      max-width: 550px;
      max-height: 700px;
      object-fit: contain;
    }
  }
}
