.teaching-analysis__content-wrapper,
.film__content-wrapper {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  /* need to make one column for mobile */

  gap: 1rem;
}
.columnar-area {
  /* position: sticky; */
  top: 1rem;

  img {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    object-fit: contain;
  }

  .info > div {
    margin-bottom: 2rem;
  }
}

.tabbed-area {
  --underline-colour: var(--coral);
  .tab-selection {
    overflow: hidden;
    justify-content: start;
    display: flex;
    gap: 1rem;
    /* margin-inline-start: 2.2rem; */
    @media screen and (max-width: 767px) {
      overflow: auto;
    }
  }
  .tab__link {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--contrast-text);
    transition: border-bottom 0.4s ease-out;
    padding-bottom: 0;

    &.active {
      border-bottom: 1px solid var(--underline-colour);
    }

    &:hover:not(.active) {
      border-bottom: 2px solid var(--underline-colour);
    }
  }
  .tab__content {
    display: none;
    /* margin-top: 1.4rem;
      margin-inline-start: 2.2rem;
      margin-inline-end: 3.2rem;
      padding: 0.5rem; */

    &.active {
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 100% !important;
      object-fit: contain;
    }
    section.footnotes {
      display: none;
    }
  }
}

.teaching-analysis__content-wrapper .tab__content {
  max-height: 90vh;
  overflow-y: scroll;
}
