.subheading {
  text-align: center;
  color: grey;
  font-size: medium;
}
.tag-title-name {
  text-align: center;
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .column {
    /* border-radius: 20px;
    border-style: solid; */
    padding: 1vw;
    text-align: center;
    p {
      font-size: small;
      color: grey;
    }
    h2 {
      text-align: center;
      color: black;
      font-size: x-large;
    }
  }
}

.scroller {
  .card-grid {
    padding: 1vw;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    .card {
      overflow: hidden;
    }
  }
}

section {
  padding-bottom: 4vw;
}
