.tag__name {
  text-align: center;
  font-size: xx-large;
}

.tag-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .column {
    padding: 1vw;
    text-align: center;
    p {
      font-size: small;
      color: var(--contrast-text--secondary);
    }
    h2 {
      text-align: center;
      color: var(--contrast-text);
      font-size: x-large;
    }
    .tag {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
}

.tag__related__wrapper {
  margin-inline: 3vw;

  .scroller {
    .card-grid {
      padding: 1vw;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 23%;
      overflow-x: auto;
      overflow-y: hidden;
      overscroll-behavior-inline: contain;
      margin-inline: 1vw;
    }
    .card-wrapper {
      min-height: 20vh;
    }
    .card {
      overflow: hidden;
      height: clamp(10vw, 20vw, 30vw);
    }
  }

  section {
    padding-bottom: 2vw;
  }

  /* when screen is less than 300px
disable grid auto flow for card grid*/
  @media screen and (max-width: 500px) {
    .scroller {
      .card-grid {
        grid-auto-flow: row;
        overflow: unset;
        margin-inline: 2vw;
      }
      .card {
        height: 50vw;
      }
    }
  }
}
