.tag {
  --border-colour: var(--card-border--hover);
  --text-colour: var(--choco-0);

  @media (prefers-color-scheme: light) {
    --border-colour: var(--card-border--hover);
    --text-colour: var(--sand-11);
  }

  display: inline-flex;
  border-radius: 20px;
  padding: 0.4rem;
  border: 2px solid var(--card-border--hover);
  color: var(--text-colour);
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
  margin: 0.2rem 0.1rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    cursor: pointer;
  }

  /* could do colours based on type of tag */
}
.tag--list {
  --bg: var(--deep-blue);

  @media (prefers-color-scheme: light) {
    --bg: var(--light-blue);
  }

  border: 1px solid var(--card-border--hover);
  background-color: var(--bg);
  font-size: 0.55rem;
  padding: 0.2rem;
  text-decoration: none;
}

.tag__name {
  text-align: center;
  font-size: xx-large;
}

.tag-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 10vh;
  .column {
    padding: 1vw;
    text-align: center;
    p {
      font-size: small;
      color: var(--contrast-text--secondary);
    }
    h2 {
      text-align: center;
      color: var(--contrast-text);
      font-size: x-large;
    }
    .tag {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
}

.tag__related__wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: 3vw;

  .scroller {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    padding-bottom: 2vw;
  }
}

.columnar-area .tag {
  font-size: 0.6rem;
  background-color: color-mix(in srgb, var(--card-shadow) 20%, transparent 50%);
}

@media screen and (max-width: 479px) {
  .tag__related__wrapper {
    .scroller {
      flex-direction: column;
      flex-shrink: 0;
      row-gap: 30px;
    }
    .card {
      height: 400px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .tag__related__wrapper {
    .scroller {
      flex-direction: row;
    }
    .card {
      height: 400px;
      width: 250px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .tag__related__wrapper {
    .card {
      height: 500px;
      width: 300px;
    }
  }
}
