/* this file is for styles that you would add to produce a specific effect */

.no-list-style {
  list-style-type: none;
}

.lh-15 {
  line-height: 1.5rem;
}

.center-text {
  text-align: center;
}

.no-display {
  display: none;
}

.mobile-view-only {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.c {
  text-align: center;
}

/* specific font family  */
.afb {
  font-family: "Agency FB";
}
.gruppo {
  font-family: "Gruppo";
}
.noto {
  font-family: "Noto Sans";
}
.oss {
  font-family: "Open Sans";
}
.playfair {
  font-family: "Playfair Display";
}
.imp {
  font-family: Impact;
}
.mnt {
  font-family: "Montserrat";
}
