/* this file is for styles that you would add to produce a specific effect */

.no-list-style {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

.no-display {
  display: none;
}

.btn {
  border: var(--border-size-1) solid var(--sand-3);
  padding: 0.3rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat";
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
  gap: 3vw;
  margin-inline: 3vw;

  a {
    text-decoration: none;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
      color: unset;
    }
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    font-size: 80%;
    margin-inline: 8vw;
  }
}

.card {
  border: var(--border-size-2) solid var(--deep-blue);
  background-color: rgba(248, 250, 251, 0.2); /* stone-0 */
  backdrop-filter: blur(5px);
  border-radius: var(--radius-2);
  padding: 1vw 1.5vw;
  overflow: auto;
  height: clamp(24vw, 32vw, 35vw);
  font-size: 70%;

  -webkit-box-shadow: 1px 10px 8px -4px var(--card-shadow);
  -moz-box-shadow: 1px 10px 8px -4px var(--card-shadow);
  box-shadow: 1px 10px 8px -4px var(--card-shadow);

  &:hover,
  &:focus {
    border-color: var(--coral);
  }

  @media screen and (max-width: 767px) {
    height: clamp(36vh, 42vh, 48vh);
  }

  .card__header {
    background-size: cover;
    padding: 0;
    margin: 0;

    img {
      /* this will likely be updated since currently the image is wrapped in a <p> and not being used as background */
      width: 100% !important;
    }
    @media screen and (max-width: 767px) {
      max-height: 45%;
      img {
        max-height: 45%;
      }
    }
  }

  .card__body {
    @media screen and (max-width: 767px) {
      margin-inline: 3vw;

      .card__body__description {
        font-size: larger;
        color: var(--contrast-text);
      }
    }
  }
  .card__body__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
    border-bottom: 1px solid var(--light-grey);
    margin-top: 0;

    @media screen and (max-width: 767px) {
      justify-content: space-evenly;
      align-items: center;
      .card__body__title,
      .card__release-date {
        margin-bottom: 0.1rem;
      }
    }
  }
  .card__body__tags {
    text-align: center;
  }

  .card__button--see-more {
    position: relative;
    float: right;
    bottom: 0;
    background-color: var(--deep-blue);
    border-color: var(--deep-blue);
    color: var(--orange-0);
    width: 30%;
  }
}

.tag {
  display: inline-flex;
  border-radius: 20px;
  padding: 0.5rem;
  border: 1px solid var(--light-grey);
  /* color: var(--light-blue); */
  color: var(--orange-0);
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-size: 90%;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  .dot {
    display: inline-flex;
    padding-right: 0.1rem;
    font-size: 150%;
    line-height: 0;
    align-items: center;
  }
}

.mobile-view-only {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.c {
  text-align: center;
}

/* specific font family  */
.afb {
  font-family: "Agency FB";
}
.gruppo {
  font-family: "Gruppo";
}
.noto {
  font-family: "Noto Sans";
}
.oss {
  font-family: "Open Sans";
}
.playfair {
  font-family: "Playfair Display";
}
.imp {
  font-family: Impact;
}
.mnt {
  font-family: "Montserrat";
}
