/* custom styling */

.inline-inline {
  & * {
    font-size: 92%;
    padding: 0.1rem;
  }
}

th.column-safe_alt_titles,
.field-safe_alt_titles {
  max-width: 10rem;
}

a.grp-link-external {
  color: #3b7588;
}
