<section>
  <h2>Printed Materials</h2>
  {% include "components/swiper_gallery.html" with slides=pm_slides id="pm" slide_images=True coverflow=True loop=True %}
</section>

<section>
  <h2>Visual Resources</h2>
  {% include "components/swiper_gallery.html" with slides=vr_slides id="vr" slide_images=True coverflow=True loop=True %}
</section>
<hr />
<section>
  <h3>You may also want to look at...</h3>
  {% comment %} other links {% endcomment %} {% for link in film.otherlinks.all %}
    <li>{{link}}</li>
  {% endfor %}
</section>
