{% if video_slides|length == 1 %}
<iframe class="film__video" src="{{video_slides|join:','}}" title="Film Video" allowfullscreen frameborder="0" scrolling="no"></iframe>
{% elif video_slides|length > 1 %} {% include "components/swiper_gallery.html" with slides=video_slides slide_videos=True %} {% else %}
<p>Footage for this film is currently unavailable on our site.</p>
{%endif%}
<div class="synopsis">
  <h2>Synopsis</h2>
  {{film.synopsis|safe|default:"N/A"}}
</div>
<hr />
<dl class="triple-c">
  <dt>Production Country: {{ film.production_country |default:"N/A"}}</dt>

  <dt>Production Company: {{ film.production_company |default:"N/A"}}</dt>

  <dt>BFI Category: {{ film.bfi_category |default:"N/A"}}</dt>

  <dt>Source: {% for source in film.sources.all %}<a href="{{source.url}}"> {{source.description}} </a> {%empty%}N/A{% endfor %}</dt>
</dl>
<hr />
<div class="cast-credits">
  <div class="column">
    <h3>Cast</h3>
    {{film.cast | safe |default:"N/A"}}
  </div>

  <div class="column">
    <h3>Credits</h3>
    {{film.crew | safe |default:"N/A"}}
  </div>
</div>
