{% include "components/swiper_gallery.html" with slides=video_slides slide_videos=True %}

<div class="synopsis">
  <h2>Synopsis</h2>
  {{film.synopsis|safe}}
</div>
<div class="film-info">
  <h2>Film Information</h2>
  <dl class="triple-c">
    <dt>Production Country: {{ film.production_country }}</dt>

    <dt>Production Company: {{ film.production_company }}</dt>

    <dt>BFI Category: {{ film.bfi_category }}</dt>

    <dt>Source: {% for source in film.sources.all %}<a href="{{source.url}}"> {{source.description}} </a> {% endfor %}</dt>
  </dl>
</div>
<div class="cast-credits">
  <div class="column">
    <h3>Cast</h3>
    {{film.cast | safe }}
  </div>

  <div class="column">
    <h3>Credits</h3>
    {{film.crew | safe }}
  </div>
</div>
