<div>
  <h2>Printed Materials</h2>
  {% comment %} maybe have a "stack" for each that expands when clicked on? Use swiper gallery {% endcomment %} {% include "components/swiper_gallery.html" with slides=pm_slides id="pm" coverflow=True %}
</div>

<div>
  <h2>Visual Resources</h2>
  {% comment %} as above {% endcomment %} {% include "components/swiper_gallery.html" with slides=vr_slides id="vr" slide_images=True coverflow=True %}
</div>
<hr />
<div>
  <h2>Critical Essays and Discussions</h2>
  {% include "partial/analysis_card_grid.html" with analysis_list=film.analyses.all %}
</div>
<hr />
<div>
  <h3>You may also want to look at...</h3>
  {% comment %} other links {% endcomment %} {% for link in film.otherlinks.all %}
    <li>{{link}}</li>
  {% endfor %}
</div>
