<div class="tabbed-area">
  {% comment %} tabs the user clicks to navigate {% endcomment %}
  <div class="tab-selection__sentinel"></div>
  <div class="tab-selection">
    <button class="tab__link active" type="button" name="filmic" onclick="openTab(event, 'filmic')"><h3>Filmic</h3></button>

    <button class="tab__link" type="button" name="technical" onclick="openTab(event, 'technical')"><h3>Technical</h3></button>

    {% if film.otherlinks.all or vr_slides or pm_slides %} <button class="tab__link" type="button" name="collections" onclick="openTab(event, 'collections')"><h3>Collections</h3></button>
    {% endif %} {% if film.analyses.all %}
      <button class="tab__link" type="button" name="analyses" onclick="openTab(event, 'analyses')"><h3>Analyses</h3></button>
    {% endif %} {% if film.bibliography.all %}
      <button class="tab__link" type="button" name="bibliography" onclick="openTab(event, 'bibliography')"><h3>Bibliography</h3></button>
    {% endif %}
  </div>

  {% comment %} content of those tabs {% endcomment %}

  <div id="filmic" class="lh-15 tab__content active" name="filmic">{% include "partial/film_tab__filmic.html" %}</div>

  <div id="technical" class="tab__content" name="technical">{% include "partial/film_tab__technical.html" %}</div>

  {% if film.otherlinks.all or vr_slides or pm_slides %}
    <div id="collections" class="tab__content" name="collections">{% include "partial/film_tab__collections.html" %}</div>
  {% endif %} {% if film.analyses.all %}
    <div id="analyses" class="tab__content" name="analyses">{% include "partial/analysis_card_grid.html" with analysis_list=film.analyses.all %}</div>
  {% endif %} {% if film.bibliography.all %}
    <div id="bibliography" class="tab__content" name="bibliography">{% include "partial/individual_bib.html" with bib_list=film.bibliography.all %}</div>
  {% endif %}
</div>

<script src="{% static 'js/openTab.js' %}"></script>
{% comment %}
<script src="{% static 'js/dimStickyMenu.js' %}"></script>
{% endcomment %}
