{% if video_slides|length == 1 %}
<iframe class="film__video" src="{{video_slides|join:','}}" title="Film Video" width="600" height="338" allowfullscreen frameborder="0" scrolling="no"></iframe>
{% elif video_slides|length > 1 %} {% include "components/swiper_gallery.html" with slides=video_slides slide_videos=True %} {% else %}
<img class="film__video--fallback" src="{% static 'images/video-unavailable.png' %}" alt="Video unavailable" /> {%endif%}
<div class="synopsis">
  <h2>Synopsis</h2>
  {{film.synopsis|safe|default:"N/A"}}
</div>
<hr />
<dl class="triple-c">
  <dt>Production Country: {{ film.production_country }}</dt>

  <dt>Production Company: {{ film.production_company }}</dt>

  <dt>BFI Category: {{ film.bfi_category }}</dt>

  <dt>Source: {% for source in film.sources.all %}<a href="{{source.url}}"> {{source.description}} </a> {% endfor %}</dt>
</dl>
<hr />
<div class="cast-credits">
  <div class="column">
    <h3>Cast</h3>
    {{film.cast | safe |default:"N/A"}}
  </div>

  <div class="column">
    <h3>Credits</h3>
    {{film.crew | safe |default:"N/A"}}
  </div>
</div>
