<a href="https://www.ukri.org/councils/ahrc/">
    <img src="{% static 'images/logos/ukri-ahrc-square-logo.png' %}" alt="UKRI Arts and Humanities Research Council">
</a>
<a href="https://www.bfi.org.uk/">
    <img src="{% static 'images/logos/BFI_logo.png' %}" alt="British Film Institute">
</a>
<a href="https://www.eyefilm.nl/en">
    <img src="{% static 'images/logos/eye_film_inst_nl.png' %}" alt="Eye Film Institute Netherlands">
</a>

<a href="https://www.ucl.ac.uk/advanced-research-computing/collaborations-and-consultancy">
    <img src="{% static 'images/logos/UCL_logo.png' %}" alt=" UCL Advanced R esearch Computing: Collaborations">
</a>
<a href="https://www.sahgb.org.uk/">
    <img src="{% static 'images/logos/SAHGB_logo.png' %}" alt="The Society of Architectural Historians of Great Britain">
</a>
<a href="https://classicalassociation.org/">
    <img src="{% static 'images/logos/CA-logo.png' %}" alt="The Classical Association">
</a>
