{% comment %} expects `model`, `view` and `description` {% endcomment %}

<div class="page__description">
  {{description}}
  <div class="utility__wrapper">
    <div class="filter__wrapper"></div>
    <div class="viewby">
      {% if is_paginated %} Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} {{ model }}

        <a href="{% url view %}"><button class="btn--link button--toggle-pagination">View All</button></a>
      {% else %}
        <a href="{% url view %}?page=1"><button class="btn--link button--toggle-pagination">View by page</button></a>
      {% endif %}
    </div>
  </div>
</div>
