<style>
  .swiper {
    width: 97vw;
    height: clamp(50vh, 80vh, 100vh);
  }

  .slide__image--bg {
    width: 100%;
    object-fit: contain;
  }
</style>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper" auto-height="true">
    <!-- Slides -->
    {% comment %} define slides[] in the view {% endcomment %} {% for slide in slides %}
      <div class="swiper-slide">
        {% if slide_images %}
          <div class="slide__content">
            <img src="{{slide}}" class="slide__image--bg" />
          </div>
        {% else %}
          <div class="slide__content">{{slide}}</div>
        {% endif %}
      </div>
    {% endfor %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

  <script>
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "vertical",
      loop: true,

      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
      },

      // Navigation arrows
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      // And if we need scrollbar
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
  </script>
</div>
